// M A I N  C O N T E N T  S T Y L E S

.desti-title-content {
  height: 208px ;
  margin: 0 auto ;
  margin-bottom: 130px;
  width: 1519px ;
}

.desti-title-content h2 {
  color: $white;
  font-family: $baskerville ;
  font-size: 64px;
}

.desti-title-content p {
  color: $white;
  font-family: $monserrat;
  font-size: 25px;
}

// .desti-imgs-list {
//   float: left ;
// }

// .imgs-boxes a img {
//   height: 364.66px ;
//   width: 451.41px ;
// }
