.footer {

  height: 235px ;
  background-color: $dark-blue ;

  a {
    text-decoration: none ;
    color: $white;
  }

  li {
    list-style: none;
  }
}

.desti-foo {

  font-family: $baskerville ;
  font-size: 16px ;
  color: $white ;
}

.title-foo {

  font-family: $baskerville;
  font-weight: 36px ;
  font-size: 25px ;
  color: $white ;
  font-weight: lighter;
}

.foo {

  float: left ;
}

.about-us {
  padding-left: 272px ;
  list-style: none ;
  text-decoration: none ;
}

.nav {

  float: right ;
  font-family: $monserrat ;
  font-size: 25px ;
  padding-right: 245px ;

  li {
    list-style: none;
  }
}
