
// Lista del header
.menu-list {

  list-style: none;
  float: right;
  padding-right: 175px ;


  a {
    color: $white;
    font-size: 25px;
    text-decoration: none;
}
    li {
        list-style: none;
        float: right ;
    }
    li + li {
        margin-left: 136px ;
    }
}

  // Background del header
  .header {
    background-color: $dark-blue;
    height: 114px ;
  }

// Logo del header
.menu-title {

  color: #E5E5E5;
  float: left;
  padding-left: 193px;
}
