  // Logo del header
.menu-title {

  color: #E5E5E5;
  float: left;
  padding-left: 193px;
  padding-top: 22px;
}

// Lista del header
.list-nav{

	list-style: none;

    li {
        float: left;
    }

    li + li {
        padding-left: 136px ;
    }

    a {
        font-size: 25px;
        font-weight: bold;
        color: $white;
        text-decoration: none;
        text-transform: uppercase;
    }
}

// Background del header
.header {
  background-color: $dark-blue;
}
