//estilo del tab en su estado global
@mixin tab {

  height: 61px ;
  color: $dark-blue;
  font-family: $monserrat ;
  font-size: 36px ;
  font-weight: $bold ;
  padding-top: 13px ;
  text-align: center ;
  width: 290px ;
  text-decoration: none;
  background-color: $yellow ;

}

//estilo del tab en su estado abierto

//estilo del tab en su estado cerrado
@mixin tab-close {
  color: white;
  background-color: $dark-blue ;

}

//estilo del contenedor del tab
@mixin tab-box{

  background-color: $dark-blue ;
  color: white;
  font-family: $monserrat;
  padding: 147px;
}
