.clearfix::after {

  clear: both ;
  content: "" ;
  display: table ;
}

.wrapper {

  width: 1550px ;
  margin: 0 auto ;
}

html {

  margin: 0 ;
  padding: 0 ;
}

li{
  list-style: none;
}

ul {

  margin: 0 ;
  padding: 0 ;
}
