//Variables

//COLORES

$black: #000000 ;

$dark-blue: #14213D ;

$dark-blue-hover: #2B457D ;

$yellow: #FCA311 ;

$yellow-hover: #C88416 ;

$light-gray: #E5E5E5 ;

$white:#FFFFFF ;

//FONT-FAMILY

$baskerville: font-family: "Libre Baskerville", serif ;

$monserrat: font-family: "Montserrat", sans-serif ;

$bold : font-weight: 700 ;



