//Variables

//COLORES

$dark-blue : #14213D ;

$dark-blue-hover : #2B457D ;

$yellow : #FCA311 ;

$yellow-hover : #C88416 ;

$light-gray : #E5E5E5 ;


//FONT-FAMILY

$baskerville : "Libre Baskerville", serif ;

$monserrat : "Montserrat", sans-serif ;

