// Hero del Home

.hero-home {

  background-image: url("../../img/home.png") ;
  background-repeat: no-repeat ;
  background-size: cover ;
  height: 681px ;
  padding-top: 65px ;
}

// Hero home text

.hero-home-text{

  color: white ;
  margin-bottom: 35px ;
  margin-left: 190px ;
}

.first-hero-home-title {

  font-family: $monserrat ;
  font-size: 50px ;
  font-weight: lighter ;
  margin: 0 ;
  padding-top: 0 ;
  padding-bottom: 20px ;
}

.second-hero-home-title {

  font-family: $baskerville ;
  font-size: 60px ;
  font-weight: lighter ;
  margin: 0 ;
  padding-top: 0 ;
  padding-bottom: 25px ;
}

.third-hero-home-title {

  font-family: $baskerville ;
  font-size: 110px ;
  font-weight: lighter ;
  margin: 0 ;
  padding-top: 0 ;
  padding-bottom: 15px ;
}

.hero-home-p {

  font-family: $monserrat ;
  font-size: 25px ;
  font-weight: lighter ;
  margin: 0 ;
  padding-top: 0 ;
  padding-bottom: 35px ;
}

.button-hero-home {

  @include button($dark-blue, $dark-blue-hover) ;
  color: white ;
  margin-left: 190px ;
}

// Home Main Title

.home-main-text {

  color: white ;
  margin-top: 90px ;
  margin-bottom: 84px;
}

.home-main-title {

  font-family: $baskerville ;
  font-size: 60px ;
  margin-bottom: 40px ;
}

.home-main-p {

  font-family: $monserrat ;
  font-size: 25px ;
  margin-top: 0 ;
}

// Home main cards

.home-main-cards {

  margin: 0 auto ;
}

.home-main-cards-link {

  float: right ;
  padding-right: 45px;

  a {

    @include anchor($yellow, 30px, $yellow-hover) ;
  }
}

.home-card {
  
  float: left;
  margin-left: 55px ;
  margin-bottom: 128px ;
  padding-top: 84px ;
  width: 313px ;
}

.home-card-title {

  color: $white ;
  font-family: $baskerville ;
  font-size: 20px ;
}

.home-card-text {

  p{

    color: $white ;
    font-family: $monserrat ;
    font-size: 25px ;
    line-height: 40px ;
  }
}

.home-card-text-button {

  @include button($dark-blue, $dark-blue-hover) ;
  color: white ;
  text-align: center ;
}


// Estilos del formulario

// Texto de informacion

.tab-4-text {

  font-family: $monserrat ;
  color: #ffffff ;

  h1 {

    font-size: 80px ;
    font-weight: bold ;
    margin: 0 auto ;
  }
  h3 {

    font-style: 64px ;
    font-family: $baskerville ;
  }
  p {

    font-size: 24px ;
    font-weight: lighter ;
  }
}

// Box del formulario y button del submit

.tab-form-query {

  padding: 0;

  .box {

    margin-bottom: 66px ;
    margin-top: 50px ;
    padding: 0 ;

    input {

      height: 78px ;
      width: 570px ;
    }

    textarea {

      height: 352px ;
      width: 570px ;
    }
  }
}

.form-button {

  background-color: $yellow ;
  border-radius: 44px ;
  border-style: none ;
  color: $dark-blue ;
  font-family: $monserrat;
  font-size: 25px ;
  font-weight: $bold ;
  padding: 12px 19px ;

  &:hover {

    background-color: $yellow-hover ;
    color: $dark-blue-hover ;
  }
}
